.chapter-display-shell {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inner-nav-shell {
    width: 240px;
    background: #00000025;
    margin-left: 15px;
    padding: 15px;
}