.chapter-navigate-shell {
    min-width: 306px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.chapter-navigate-shell h1, .chapter-navigate-shell h2 {
    color: white;
}

.chapter-navigate-shell h1 {
    padding: 5px 0 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid gray;;
}

.player-heading  {
    margin-top: 5px;
}

.chapter-navigate-shell h2 {
    text-indent: 20px;
    padding: 5px;
}

.chapter-navigate-shell h2:hover {
    color: #b45f06
}

.active-route h2 {
    border-left: 2px solid #b45f06;
}