.header-shell {
    max-width: 1390px;
    margin: 0 auto;
    background: black;
    display: flex;
    padding: 25px
}

.header-shell a {
    color: white;
}

.header-shell a:hover {
    color: #b45f06
}

.header-shell a:first-child {
    margin-right: auto;
}